.recipeDescContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    header {
        padding: 2rem 0;
    }
}

.backArrowBtn {
    align-self: flex-start;
    padding: 20px;

    svg {
    cursor: pointer;
    }
}